<section class="popular-product popular-product-full">
  <div class="container">
    
    <div class="row">
      {%- for block in section.blocks -%}
        <div class="col-md-2">
          <div class="product-item popular-pro">
            <div class="product-inner-item">
              <img src="{{ block.settings.image_product | img_url: 'master' }}" alt="">
            </div>
            <div class="product-content">

              <h3>
                <a href="{{ block.settings.product_url | escape }}">
                  {{ block.settings.title | escape }}</a>
              </h3>
              <div class="inner-content">
                <div class="rating">
                  <div class="price">
                    <h5>{{ block.settings.price_regular | escape }}</h5>
                    <h6>{{ block.settings.price_sale | escape }}</h6>
                  </div>

                </div>

                </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
      
      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Cus Product POP Full",
    "tag": "section",
    "class": "announcement-bar-section",
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_product",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "default": "Collections",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "price_regular",
            "default": "Collections",
            "label": "Price Regular"
          },
          {
            "type": "text",
            "id": "price_sale",
            "default": "Collections",
            "label": "Price Sale"
          }, {
            "type": "url",
            "id": "product_url",
            "label": "Price Link"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "link_title",
        "default": "Collections",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Cus Product POP Full",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}