<div class="banner">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="image" class="imgFluid banner__bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-12">
                <div class="banner-content">
                    <h1>{{ section.settings.sub_title | escape }}</h1>
                    <h2>{{ section.settings.title | escape }}</h2>
                    <!-- <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting text ever since the 1500s
                    </p> -->
                    <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text | escape }}</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Cus Banner",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "sub_title",
          "default": "Collections",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
    ],
    "presets": [
        {
          "name": "Cus Banner"
        }
      ]
    }
    {% endschema %}