<section class="popular-product">
    <div class="container">
        <div class="title">
            <h3>Popular Products</h3>
        </div>
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="row">

                {%- for block in section.blocks -%}
                    <div class="col-md-3">
                        <div class="product-item popular-pro">
                            <div class="product-inner-item">
                                <img src="{{ block.settings.image_product | img_url: 'master' }}" alt="">
                            </div>
                            <div class="product-content">

                                <h3><a href="{{ block.settings.product_url | escape }}"> {{ block.settings.title | escape }}</a></h3>
                                <div class="inner-content">
                                    <div class="rating">
                                        <div class="price">
                                            <h5>{{ block.settings.price_regular | escape }}</h5>
                                            <h6>{{ block.settings.price_sale | escape }}</h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
      
{% comment %}
    <div class="col-md-3">
                        <div class="product-item popular-pro">
                            <div class="product-inner-item">
                                <img src="{{ 'p-pro-img-2.png' | asset_url }}" alt="">
                            </div>
                            <div class="product-content">

                                <h3><a href="#"> Place Your Title Here</a></h3>
                                <div class="inner-content">
                                    <div class="rating">
                                        <div class="price">
                                            <h5>$6.90</h5>
                                            <h6>$6.90</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="product-item popular-pro">
                            <div class="product-inner-item">
                                <img src="{{ 'p-pro-img-3.png' | asset_url }}" alt="">
                            </div>
                            <div class="product-content">

                                <h3><a href="#"> Place Your Title Here</a></h3>
                                <div class="inner-content">
                                    <div class="rating">
                                        <div class="price">
                                            <h5>$6.90</h5>
                                            <h6>$6.90</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-item popular-pro">
                            <div class="product-inner-item">
                                <img src="{{ 'p-pro-img-4.png' | asset_url }}" alt="">
                            </div>
                            <div class="product-content">

                                <h3><a href="#"> Place Your Title Here</a></h3>
                                <div class="inner-content">
                                    <div class="rating">
                                        <div class="price">
                                            <h5>$6.90</h5>
                                            <h6>$6.90</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
{% endcomment %}
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="discount text-center">
                    <h3>15% OFF</h3>
                    <p>Lorem ipsum</p>
                    <form action="" class="discount-form">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" placeholder="Lorem ipsum">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Lorem ipsum">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Lorem ipsum">
                            </div>
                            <div class="col-md-12">
                                <div class="discount-btn">
                                    <a class="btn" href="#">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="product-item popular-pro">
                    <div class="product-inner-item">
                        <img src="{{ 'p-pro-img-5.png' | asset_url }}" alt="">
                    </div>
                    <div class="product-content">

                        <h3><a href="#"> Place Your Title Here</a></h3>
                        <div class="inner-content">
                            <div class="rating">
                                <div class="price">
                                    <h5>$6.90</h5>
                                    <h6>$6.90</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="product-item popular-pro">
                    <div class="product-inner-item">
                        <img src="{{ 'p-pro-img-6.png' | asset_url }}" alt="">
                    </div>
                    <div class="product-content">

                        <h3><a href="#"> Place Your Title Here</a></h3>
                        <div class="inner-content">
                            <div class="rating">
                                <div class="price">
                                    <h5>$6.90</h5>
                                    <h6>$6.90</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="product-item popular-pro">
                    <div class="product-inner-item">
                        <img src="{{ 'p-pro-img-7.png' | asset_url }}" alt="">
                    </div>
                    <div class="product-content">

                        <h3><a href="#"> Place Your Title Here</a></h3>
                        <div class="inner-content">
                            <div class="rating">
                                <div class="price">
                                    <h5>$6.90</h5>
                                    <h6>$6.90</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="product-item popular-pro">
                    <div class="product-inner-item">
                        <img src="{{ 'p-pro-img-8.png' | asset_url }}" alt="">
                    </div>
                    <div class="product-content">

                        <h3><a href="#"> Place Your Title Here</a></h3>
                        <div class="inner-content">
                            <div class="rating">
                                <div class="price">
                                    <h5>$6.90</h5>
                                    <h6>$6.90</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="product-item popular-pro">
                    <div class="product-inner-item">
                        <img src="{{ 'p-pro-img-9.png' | asset_url }}" alt="">
                    </div>
                    <div class="product-content">

                        <h3><a href="#"> Place Your Title Here</a></h3>
                        <div class="inner-content">
                            <div class="rating">
                                <div class="price">
                                    <h5>$6.90</h5>
                                    <h6>$6.90</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="product-item popular-pro">
                    <div class="product-inner-item">
                        <img src="{{ 'p-pro-img-10.png' | asset_url }}" alt="">
                    </div>
                    <div class="product-content">

                        <h3><a href="#"> Place Your Title Here</a></h3>
                        <div class="inner-content">
                            <div class="rating">
                                <div class="price">
                                    <h5>$6.90</h5>
                                    <h6>$6.90</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Cus Product POP",
      "tag": "section",
      "class": "announcement-bar-section",
      "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_product",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "default": "Collections",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "price_regular",
            "default": "Collections",
            "label": "Price Regular"
          },
          {
            "type": "text",
            "id": "price_sale",
            "default": "Collections",
            "label": "Price Sale"
          },
          {
            "type": "url",
            "id": "product_url",
            "label": "Price Link"
          }
        ]
          }
        ],
      "settings": [
        {
          "type": "collection",
          "id": "title",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "link_title",
          "default": "Collections",
          "label": "Button Title"
        }
    ],
    "presets": [
        {
          "name": "Cus Product POP",
          "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
        }
      ]
    }
    {% endschema %}
    