<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="news-content w-75 text-center m-auto">
                    <h2>{{ section.settings.title | escape }}</h2>
                    <h6>{{ section.settings.sub_heading | escape }}</h6>

                    <form action="" class="newsletter-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Enter your first name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Your email address">
                            </div>
                            <div class="col-md-12">
                                <div class="news-btn">
                                    <a class="btn btn-1 w-100" href="#">Subscribe</a>
                                </div>
                            </div>
                    </form>
                    
                    
                    {%- form 'customer', id: 'NewsSection', class: '' -%}
                      <input
                        type="hidden"
                        name="contact[tags]"
                        value="newsletter">
                      <div class="row">

                        <div class="col-md-6"> <!-- Add a new field for the customer's name -->
                          <input
                            id="Name--{{ section.id }}"
                            type="text"
                            name="contact[name]"
                            class=""
                            value="{{ form.name }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="name"
                            {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="ContactFooter-error"
                            {% endif %}
                            placeholder="Your email address"
                            required>

                        </div>

                        <div class="col-md-6">
                          <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class=""
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="ContactFooter-error"
                            {% elsif form.posted_successfully? %}
                            aria-describedby="ContactFooter-success"
                            {% endif %}
                            placeholder="Enter your first name"
                            required>
                   
                        </div>
                        
                        <div class="col-md-12">
                          
                          <div class="news-btn">
                            <button
                            type="submit"
                            class="btn btn-1 w-100"
                            name="commit"
                            id="Subscribe"
                            aria-label="{{ 'newsletter.button_label' | t }}">
                            Subscribe
                          </button>

                          </div>
                          
                        </div>

                      </div>
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="ContactFooter-error">
                          {%- render 'icon-error' -%}
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                      {%- if form.posted_successfully? -%}
                        <h3
                          class="newsletter-form__message newsletter-form__message--success form__message"
                          id="ContactFooter-success"
                          tabindex="-1"
                          autofocus>
                          {% render 'icon-success' -%}
                          {{- 'newsletter.success' | t }}
                        </h3>
                      {%- endif -%}
                    {%- endform -%}
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="left-image size">
        <img src="{{ section.settings.image_1 | img_url: 'master' }}" alt="">
    </div>
    <div class="right-image size">
        <img src="{{ section.settings.image_2  | img_url: 'master' }}" alt="">
    </div>
</section>

{% schema %}
    {
      "name": "Cus Newsletter",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "default": "Collections",
          "label": "Sub Heading"
        }
    ],
    "presets": [
        {
          "name": "Cus Newsletter"
        }
      ]
    }
    {% endschema %}